:host {
  display: block;
  padding: 20px;
  margin: 0px;
  background: #DAA211;
}

h1 {
    color: #fff;
    padding: 2px;
    margin: 2px;
    font-size: 30px;
}

p {
    color: #F0D48B;
    padding: 2px;
    margin: 2px;
    font-size: 16px;
}