:host {
  display: block;
  width: 155px;
  height: 225px;
  border-radius: 6px;
  box-shadow: 0px 4px 5px 5px rgba(0,0,0,0.2);
  background : repeating-linear-gradient(
      45deg,
      #606dbc,
      #606dbc 10px,
      #465298 10px,
      #465298 20px
    )
}
