@import url(http://fonts.googleapis.com/css?family=PT+Mono);

:host {
  display: block;
  width: 155px;
  height: 225px;
  border-radius: 6px;
  box-shadow: -4px -4px 10px 8px rgba(0,0,0,0.15);
  background : repeating-linear-gradient(45deg, #6081BC, #6081BC 10px, #506FA6 10px, #506FA6 20px);
  overflow: hidden;
}

#imgFront {
    position: absolute;
    top: 0;
    bottom : 155px;
    left : 0;
    right : 0;
    bottom : 0;
    padding: 4px;
    background-size: contain;
}


#imgBack {
    position: absolute;
    top: 0;
    bottom : 0;
    left : 0;
    right : 0;
    bottom : 0;
    padding: 4px;
}


#data {
    position: absolute;
    top : 155px;
    left : 0;
    right : 0;
    bottom : 0;
    padding: 4px;
    background: #F5F5F5;
}

#title {
    color: #000;
    padding: 0;
    margin : 0;
    font-size: 12pt;
}

#message {
    color: #555;
    padding: 0;
    margin : 0;
    font-size: 8pt;
}

#points {
    position: absolute;
    top: -10px;
    right: 10px;
    width: 20px;
    height: 20px;
    border: 2px solid #aaa;
    border-radius: 10px;
    background: #fff;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
    font-size: 9pt;
}