:host {
  display: block;
}

div {
    background : red;
}

input {
    border : 1px solid #aaa;
}

header {
    padding: 20px;
    background: #555;
    color: #fff;
}

#btn_editSettings {
    position: absolute;
    right : 20px;
    top: 20px;
    color: #eee;
}

#btn_editSettings:hover {
    color: #fff;
}

