:host {
  display: block;
}

#container {
    position : absolute;
    right: 20px;
    top: 5px;
    color: #fff;
}

.cell {
    padding: 20px;
    text-align: center;
}

.label {
    font-size: 8pt;
    color: #F0D48B;
}

.score_value {
    font-size: 30pt;
    font-weight: bold;
}