@import url(http://fonts.googleapis.com/css?family=Bigshot+One);

:host {
  display: block;
}

#container {
    position : absolute;
    right: 20px;
    top: 10px;
    color: #fff;
}

.cell {
    padding: 20px;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 6px;
}

.cell.active {
    border: 1px solid rgba(255, 255, 255, 0.54);
    box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.15) inset;
}

.label {
    font-size: 8pt;
    color: #F0D48B;
}

.score_value {
    font-size: 30pt;
    font-weight: bold;
    font-family: 'Bigshot One', cursive;
}